<template>
  <section>
    <header v-if="$slots.header">
      <slot name="header">
        <h2>The Default</h2>
      </slot>
    </header>
    <slot></slot>
  </section>
</template>

<script>
export default {
  name: "BaseCard",
  mounted() {
    console.log(this.$slots);
  }
}
</script>

<style scoped>
  section {
    margin: 2rem auto;
    max-width: 30rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
  }
  section header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>