<template>
  <section v-if="!members.length">
    <p>The url is incorrect.</p>
    <router-link to="/teams">Back to teams</router-link>
  </section>
  <section v-else>
    <h2>{{ teamName }}</h2>
    <ul>
      <user-item
        v-for="member in members"
        :key="member.id"
        :name="member.fullName"
        :role="member.role"
      ></user-item>
    </ul>
    <router-link v-if="notTeam2()" to="/teams/t2">Go to Team 2</router-link>
  </section>
</template>

<script>
import UserItem from '../users/UserItem.vue';

export default {
  inject: ['users', 'teams'],
  props: ['teamId'],
  components: {
    UserItem
  },
  data() {
    return {
      teamName: '',
      members: []
    };
  },
  created() {
    this.loadTeamMembers(this.teamId);
    // console.log(this.$route.query);
  },
  watch: {
    teamId(newValue) {
      this.loadTeamMembers(newValue);
    }
  },
  methods: {
    loadTeamMembers(teamId) {
      const selectedTeam = this.teams.find(team => team.id === teamId);
      if (!selectedTeam) {
        return;
      }
      const members = selectedTeam.members;
      const selectedMembers = [];
      for (let memberId of members) {
        const selectedUser = this.users.find(user => user.id === memberId);
        selectedMembers.push(selectedUser);
      }
      this.members = selectedMembers;
      this.teamName = selectedTeam.name;
    },
    notTeam2() {
      return this.teamId !== 't2';
    }
  }
};
</script>

<style scoped>
section {
  margin: 2rem auto;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  border-radius: 12px;
}

h2 {
  margin: 0.5rem 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
</style>