<template>
  <section>
    <form @submit.prevent="submitData">
      <input type="text" v-model="userData.name" placeholder="Your name">
      <input type="number" v-model="userData.age" placeholder="Your age">
      <button>Set User Data</button>
    </form>
  </section>
</template>

<script>
export default {
  name: "UserData",
  data() {
    return {
      userData: {
        name: '',
        age: ''
      }
    }
  },
  emits: {
    'save': function (data) {
      return data.name !== '' && data.age !== '';
    }
  },
  methods: {
    submitData() {
      this.$emit('save', this.userData);
    }
  }
}
</script>

<style scoped>

</style>