<template>
  <div>
    <active-user
        :name="user.name"
        :age="user.age"
    ></active-user>
    <user-data
        @save="saveUser"
    ></user-data>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        user: {
          name: 'Yegor Sotnikov',
          age: 89
        }
      }
    },
    methods: {
      saveUser(userData) {
        this.user.name = userData.name;
        this.user.age = userData.age;
      }
    }
  }
</script>

<style>
  html {
    font-family: sans-serif;
  }
  section {
    margin: 2rem auto;
    max-width: 40rem;
    border-radius: 12px;
    border: 1px solid #ccc;
    padding: 1rem;
  }
</style>