<template>
  <base-dialog v-if="inputIsInvalid" :title="emptyInput + ' is invalid'" @close="confirmError">
    <template #default>
      <p>Unfortunately, {{ emptyInput }} is invalid</p>
      <p>Please check all inputs and make sure you enter at least a few characters into each input field.</p>
    </template>
    <template #actions>
      <base-button @click="confirmError">Okay</base-button>
    </template>
  </base-dialog>
  <base-card>
    <form @submit.prevent="submit">
      <div class="form-control">
        <label for="title">Title</label>
        <input id="title" name="title" type="text" v-model="enteredData.title">
      </div>
      <div class="form-control">
        <label for="description">Description</label>
        <textarea name="description" id="description" rows="3" v-model="enteredData.description"></textarea>
      </div>
      <div class="form-control">
        <label for="link">Link</label>
        <input name="link" id="link" type="text" v-model="enteredData.link">
      </div>
      <div>
        <base-button type="submit">Add Resources</base-button>
      </div>
    </form>
  </base-card>
</template>

<script>
export default {
  name: "AddResource",
  components: {},

  inject: ['addResource'],
  data() {
    return {
      enteredData: {
        title: '',
        description: '',
        link: ''
      },
      inputIsInvalid: false,
      emptyInput: ''
    }
  },
  methods: {
    submit() {
      for (let prop in this.enteredData) {
        if (!this.enteredData[prop].trim()) {
          this.emptyInput = prop.charAt(0).toUpperCase() + prop.slice(1);
          this.inputIsInvalid = true;
          break;
        }
      }
      if (this.inputIsInvalid) {
        return;
      }
      this.addResource(this.enteredData);
      for (let prop in this.enteredData) {
        this.enteredData[prop] = '';
      }
    },
    confirmError() {
      this.inputIsInvalid = false;
      this.emptyInput = '';
    },

  }
}
</script>

<style scoped>
label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

input,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.15rem;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #3a0061;
  background-color: #f7ebff;
}

.form-control {
  margin: 1rem 0;
}
</style>