<template>
  <form @submit.prevent="submitData">
    <div>
      <label>Name</label>
      <input type="text"  v-model="enteredData.name"/>
    </div>
    <div>
      <label>Phone</label>
      <input type="tel" v-model="enteredData.phone"/>
    </div>
    <div>
      <label>E-Mail</label>
      <input type="email" v-model="enteredData.email"/>
    </div>
    <div>
      <button>Add Contact</button>
    </div>
  </form>
</template>

<script>
export default {
  name: "NewFriend",
  data() {
    return {
      enteredData: {
        name: '',
        phone: '',
        email: ''
      }
    }
  },
  methods: {
    submitData() {
      this.$emit(
          'add-contact',
          this.enteredData
      );
      for (let prop in this.enteredData) {
        this.enteredData[prop] = '';
      }
    }
  },
  emits: ['add-contact']
}
</script>

<style scoped>
  #app input {
    font: inherit;
    padding: 0.15rem;
  }
  #app label {
    font-weight: bold;
    margin-right: 1rem;
    width: 7rem;
    display: inline-block;
  }
  #app form div {
    margin: 1rem 0;
  }
</style>