<template>
  <button @click="confirmInput">Confirm</button>
  <button @click="saveChanges">Save Changes</button>
  <ul>
    <user-item v-for="user in users" :key="user.id" :name="user.fullName" :role="user.role"></user-item>
  </ul>
</template>

<script>
import UserItem from './UserItem.vue';

export default {
  components: {
    UserItem,
  },
  data() {
    return {
      changesSaved: false,
    };
  },
  inject: ['users'],
  methods: {
    confirmInput() {
      this.$router.push('teams');
    },
    saveChanges() {
      this.changesSaved = true;
    }
  },
  // beforeRouteEnter(to, from, next) {
  //   console.log(to, from, next);
  //   next();
  // },
  // beforeRouteLeave(to, from, next) {
  //   // it callings before 'beforeEach' and 'beforeEnter' guards
  //   console.log('UserList Cmp beforeRouteLeave');
  //   console.log(to, from);
  //
  //   if (this.changesSaved) {
  //     next();
  //   } else {
  //     const userWantsToLeave = confirm('Are you sure? You got unsaved changes!');
  //     next(userWantsToLeave); // if we pass 'true' to the next func then it goes as simple next();
  //   }
  // },
  unmounted() {
    console.log('Unmounted UserList');
  }
};
</script>

<style scoped>
ul {
  list-style: none;
  margin: 2rem auto;
  max-width: 20rem;
  padding: 0;
}
</style>